
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.stdbutton {
    font-family: Roboto;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    width:150px;
    font-size: 13px;
    background: #143D61;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 15px;
    border: none;
    border-bottom: 4px solid white;
  }
  
  .stdbutton:focus {outline:0;}
  
  .stdbutton:hover {
   text-decoration: none;
   background: #F8F8F8;
   font-weight: bold;
   color: #143D61;
   cursor: pointer;
   border-bottom: 4px solid #143D61;
  }
  .stdbutton:active {
   text-decoration: none;
  }
  .stdbutton:visited {
   text-decoration: none;
  }
  .stdbutton:link {
   text-decoration: none;
  }

  .whiteContainer {
    padding: 0px 13px 0px 13px;
    width: 100%;
    font-family: "Roboto";
    background: white;
    margin: 20px 0 20px 0;
    font-weight: bold;
    -webkit-box-shadow: 7px 7px 28px -6px rgba(0,0,0,0.79);
    -moz-box-shadow: 7px 7px 28px -6px rgba(0,0,0,0.79);
    box-shadow: 7px 7px 28px -6px rgba(0,0,0,0.79);
  }

  .input-line:focus {
    outline: none;
    border-color: white;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: none;
    color: white;
  }
  .whiteButton {
    border: 2px solid white;
    background: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 5px;
  }

  .whiteButton:hover {
    background: white;
    color: #283BED;
  }
  
.input-line::placeholder { 
  color: white;
  opacity: 0.3;
}

  .input-line {
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    outline: none;
    width: 100%;
    border: none;
    background: none;
    color: white;
    font-family: roboto;
    font-weight: bold;
    letter-spacing: 0.02rem;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 15px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .boxButton {
    background-color:#143D61;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Verdana;
    font-size:15px;
    height: 40px;
    width: 40px;
    text-decoration:none;
    margin-right: 5px;
  }
  
   .boxButton:focus {
     outline:0;
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #143D61;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #5A6BFF; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 118, 243); 
}





input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 25px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #5D65FB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}